*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
:root{
    --font-poppins:'Poppins', sans-serif;
    --font-publicsan: 'Public Sans', sans-serif;
    --color-white:#fff;
    --color-black:#152427;
    --color-gray:#7D8188;

}