*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
:root{
    --font-poppins:'Poppins', sans-serif;
    --font-publicsan: 'Public Sans', sans-serif;
    --color-white:#fff;
    --color-black:#152427;
    --color-gray:#7D8188;

}
.container{
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
.btn{
    min-width: 173px;
    line-height: 57px;
    padding: 0 52px;
    border: none;
    border-radius: 99px;
    cursor: pointer;
    background: #143C3C;
    font-size: 1.8rem;
    font-family: var(--font-publicsan);
    font-weight: 500;
    color: var(--color-white);
}
li{
    list-style:none;
}
a{
    text-decoration: none;
}
/* ==========header========= */
header{
    margin-top: 15px;
}
.header__top{
    padding: 13px 0 13px;
    position: sticky;
    background: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    transform: translateX(calc(250px - 88px));
}
.navbar__list{
    
    display: flex;
}
.navbar__link{
    color: var(--color-gray);
    font-size: 1.8rem;
    font-family: Public Sans;
    font-weight: 500;
    line-height: 1.6;
    padding: 19px;
}
a.navbar__active{
    position: relative;
    color: var(--color-black);
}
a.navbar__active::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 2px;
    background: var(--color-black);
    bottom: -12px;
}
.header__line{
    position: absolute;
    bottom: 0;
    width: 1140px;
    height: 1px;
    border-radius: 50%;
    background: linear-gradient(18deg, #FFF 0%, #DDDCDC 51.25%, rgba(212, 212, 212, 0.00) 100%);
}
/* ===========hero-header=========== */
.header__hero{
    position: relative;
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero__content{
    width: 420px;
}
.hero__title{
    color: var(--color-black);
    font-size: 5rem;
    font-family: Public Sans;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
}
.hero__desc{
    color: var(--color-gray);
    font-size: 1.8rem;
    font-family: Public Sans;
    font-weight: 500;
    line-height: 1.56;
    margin-bottom: 42px;
}
.watch-video,
.hero__group-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.watch-video:hover .watch__btn{
    transform: rotate(495deg);
    border: 4px solid var(--color-black);
    border-right-color: transparent;
    border-bottom-color: transparent;
}
.watch-video:hover .watch__play{
    transform: rotate(-135deg);
}
.watch-video:hover .video__content{
    color: var(--color-gray);
}
.watch__btn{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid var(--color-gray);
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(-45deg);
    transition: 1.25s;
}
.watch__circle{
    position: absolute;
    border-radius: 50%;
    background: #83A17D;
    width: 44px;
    height: 44px;
    top: 4px;
    left: 4px;
}
.watch__play{
    position: absolute;
    top: 18px;
    left: 18px;
    transform: rotate(45deg);
}
.video__content{
    transition: 0.25s;
    margin-left: 9px;
    color:var(--color-black);
    font-size: 1.8rem;
    font-family: Poppins;
    font-weight: 600;
}
.hero__image--bg{
    position: absolute;
    top: 271px;
    left: 323px;
    width: 140px;
    height: 140px;
    border-radius: 340px;
    background: #00ffb3;
    filter: blur(137px);
    z-index: 0;
}
.hero__img--start,
.hero__img--mid,
.hero__img--end{
    position: absolute;
    width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
    margin-right: 20px;
}
.hero__img--start{
    top: 0;
    left: 0;
}
.hero__img--mid
{
    margin-top: 77px;
    bottom: 0;
    left: 222px;
}
.hero__img--end{
    top: 0;right: 0;
    margin-right: 0;
}
.hero__image{
    margin-top: 32px;
    height: 543px;
    width: 646px;
    position: relative;
}
.hero__decorate{
    position: absolute;

}
.decorate-before{
    left: 254px;
    top: 0;
}
.decorate-after {
    transform: rotate(180deg);
    bottom: -56px;
    right: 12px;
}
.body{
    margin-top: 65px;
}
/* =======================partner=================== */
.partner{
    margin-top: 42px;
}
.partner__row{
    margin: 130px 0 53px;
    padding: 0  121px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 201px;
    width: 100%;
    background: #E2EDDF;
    border-radius: 100.5px;
}
.partner__text--google{
    color: #143C3C;
    font-size: 3.1rem;
    font-family: Poppins;
    font-weight: 500;
}
.partner__text--slack{
    color:#143C3C;
    font-size: 3.2rem;
    font-family: Poppins;
    font-weight: 600;
}
.partner__text--discord{
    font-family: Poppins;
    font-size: 2.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #163C35;
}
.partner__text--riotino{
    color: #143C3C;
    font-size: 2.3rem;
    font-family: Sonsie One;
    font-weight: 400;
}
.partner__text--heroku{
    color:  #143C3C;
    font-size: 1.9rem;
    font-family: Poppins;
    font-weight: 600;
    letter-spacing: 1.995px;
}
.partner__logo{
    display: inline-flex;
    align-items: center;
}
.partner__img.slack--logo{
    margin-right: 5px;
}
.partner__img.discord--logo{
    margin-right: 11px;
}
.partner__img.heroku--logo{
    margin-right: 14px;
    
}
/* service */
.service{
    padding: 86px 0;
}
.service__group-btn{
    display: flex;
    gap: 17px;
    margin-right: 73px;
}
.service__btn.next__btn{
    transform: rotate(180deg);
}

.service__btn{
    transition: 0.5s;
    border: none;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.service__btn:hover{
    background: #143C3C;
    color: #fff;
}
.service__heading{
    font-family: var(--font-poppins);
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-black);
    margin-bottom: 12px;
    display: inline-block;
}
.service__heading::before{
    content: "";
    position: relative;
    bottom: 11px;
    margin-right: 21px;
    display: inline-block;
    width: 25px;
    height: 1px;
    background: var(--color-black);

}
.service__title{
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-black);
    font-size: 4.2rem;
    line-height: 1.24;
    width: 45.6%;
}
.service__title::after{
    content: "";
    position: relative;
    display: inline-block;
    width: 66px;
    height: 2px;
    background: var(--color-black);
    left: 16px;
    bottom: 8.5px;
}
.service__row{
    display: flex;
    justify-content: space-between;
}
.service__list{
    margin-top: 76px;
    display: flex;
    justify-content: space-between;
}
.service__items{
    width: 370px;
    height: 454px;
    border-radius: 20px 20px 0 0;
    padding-bottom: 5px;
}
.service__thumb{
    width: 100%;
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.service__items--title{
    color: var(--color-black);
    font-size: 2.2rem;
    font-family: var(--font-poppins);
    font-weight: 600;
    line-height: 1;
    margin: 24px 0 18px;
}
.service__items--desc{
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--color-gray);
    font-family: var(--font-poppins);
    line-height: 1.7;
    padding-right: 76px;
}
/* about element */
.about__body{
    display: flex;
    justify-content: space-between;
    height: 570px;
}
.about__background{
    position: absolute;
    width: 140px;
    height: 140px;
    top: 232px;
    left: 106px;
    border-radius: 340px;
    background: #2c6867;
    filter: blur(150px);
    z-index: 0;
}

.about__group-img{
    position: relative;
    width: 51.7%;
}
.about__img{
    position: absolute;
    z-index: 1;
}
.about__image{
    width: 284px;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
}
.about__info{
    width: 42.54%;
}
.about__img:first-child{
    left: 0;
    top: 90px;
}
.about__img:nth-child(2){
    right: 0;
    top: 13px;
}
.about__img:last-child{
    left: 46px;
    top: -18px;
}
.about__team{
    padding: 19px 17px 11px;
    position: absolute;
    background: #fff;
    width: 143px;
    height: 144px;
    border-radius: 8px;
    right: -9px;
    bottom: 8px;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
    z-index: 1;
}
.about__sub-title{
    color: var(--color-black);
    font-size: 1.4rem;
    font-family: var(--font-publicsan);
    font-weight: 600;
}
.about__sub-desc{
    color: var(--color-gray);
    font-size: 1rem;
    font-family: var(--font-publicsan);
    font-weight: 400;
    margin: 6px 0 10px;
}
.about__row--title,
.about__data{
    display: block;
    color: var(--color-black);
    font-size: 1rem;
    font-family: var(--font-publicsan);
    font-weight: 500;
}
.about__data.data__load{
    margin: 3px 11px 3px 0;
    text-align: end;
}
.about__line{
    margin-top: 3px;
    width: 96px;
    height: 2px;
    border-radius: 99px;
    background: #EAEAEA;
}
.about__line--number{
    width: 40%;
    height: 2px;
    border-radius: 99px;
    background: #83A17D;
}
.about__circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #EAEAEA;
    margin-bottom: 7px;
}
.about__sub-circle{
    width: 5px;
    height: 5px;
    border-radius: 99px;
    background: #143C3C;
}
.about__row{
    display: flex;
    overflow: hidden;
    gap: 30px;
}
.about__row--img{
    display: flex;
}
.about__thumb{
    width: 14px;
    height: 14px;
    border: 1px solid #fff;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -5px;
}
.about__thumb.thumb__first{
    margin-left: 0;
}
.about__heading{
    color: var(--color-black);
    font-size: 1.6rem;
    font-family: var(--font-poppins);
    font-weight: 500;
}
.about__heading::before{
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    position: relative;
    background: var(--color-black);
    bottom: 5px;
    margin-right: 21px;
}
.about__title{
    color: var(--color-black);
    font-size: 4.2rem;
    font-family: var(--font-poppins);
    font-weight: 600;
    line-height: 1.24;
    margin: 20px 0 11px;
}
.about__desc.desc__main{
    font-size: 1.6rem;
    line-height: 1.625;
    margin-bottom: 7px;
}
.about__desc.desc__sub{
    margin: 29px 0;
    position: relative;
}
.about__desc.desc__sub::after{
    content: "";
    height: 1px;
    width: 485px;
    background: #83A17D;
    display: block;
    position: absolute;
    bottom: -20px;
}
.about__desc{
    display: inline-flex;
    align-items: center;
    color: var(--color-gray);
    font-size: 1.4rem;
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 500;
    line-height: 1.71;
}
.about__number{
    display: block;
    margin-right: 24px;
    color: var(--color-black);
    font-size: 4.2rem;
    font-family: var(--font-poppins);
    font-weight: 600;
    line-height: 1.24;
}